$side-menu-width: 130px;
$side-menu-bg: #212c3d;

.side-menu {
  animation: side-menu-animation 500ms ease-in-out;
  background: $side-menu-bg;
  overflow: hidden;
  width: $side-menu-width;

  > nav {
    height: 100%;
  }
}

@keyframes side-menu-animation {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: $side-menu-width;
  }
}

.side-menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-menu-item {
  &:last-child {
    align-items: flex-end;
    flex: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    > .link {
      width: 100%;
    }
  }

  > .link {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 21px 0;
    font-size: 17px;
    transition: all 150ms ease-in-out;

    &.-active,
    &:hover {
      color: #f3f3f3;
      background: darken($side-menu-bg, 5);
    }

    > .icon {
      font-size: 35px;
      margin-bottom: 11px;
    }
  }
}
